<%if admin_signed_in? %>
    <div>Hello, <%= current_admin.email %></div>
    <h1>Articles</h1>
    <% @articles.each do |article| %>
      <p>
        <h3><%= article.title %> (<%= link_to(article.codename, article) %>)</h3>
        <div><%= link_to(article.url, article.url) %></div>
        <%= button_to "Delete", {action: "destroy", id: article.id }, method: :delete, data: {confirm: "Are you sure you want to delete the article?"} %>
      </p>
    <% end %>

    <h2>Add New Article</h2>
    <%= form_for [@article, Article.new] do |f| %>
      <%= f.text_field :title, placeholder: "Title", required: true %><br/>
      <%= f.text_field :codename, placeholder: "Codename (ie: 'hamstring-2017-05')", required: true %><br/>
      <%= f.text_field :url, placeholder: "URL", required: true %><br/>
      <%= f.submit "Add New Article" %>
    <% end %>
<% else %>
    <div>Not logged in. /auth/login</div>
<% end %>
