<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %> Follow us on <a href="https://facebook.com/MindfulFlex/">Facebook</a></div>
<% end %>

<h3>Comments
    <% if admin_signed_in? %>
        <span class='admin-options' id='admin-options-toggle-ip'>IP</span>
        <span class='admin-options' id='admin-options-toggle-id'>ID</span>
        <span class='admin-options' id='admin-options-toggle-timestamp'>Time</span>
    <% end %>
</h3>

<ul class="main-comments">
  <% if @article.comments.count > 0 %>
    <%= render(partial: 'comments/comment', collection: @article.comments) %>
  <% else %>
    No comments on this post yet. <a href="#mfc-comment-box">Leave a reply</a>.
  <% end %>
</ul>

<div id="mfc-comment-last">
    <div id="mfc-comment-box">
      <h3 class="leave-comment">Leave a Comment</h3>
      <div id="mfc-cancel-reply">Cancel Reply</div>
      <%= form_for [@article, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply", required: true %>
      <div class="name-email">
      <%= f.text_field :author, placeholder: "Name *", required: true %>
      <%= f.text_field :email, placeholder: "Email *", required: true %>
      </div>
      <%= f.text_field :url, placeholder: "Website" %><br/>
      <%= f.submit "Add Comment" %>
      <% end %>
    </div>
</div>

<%= Rails.application.config.x.disallowed_emails.include? "yuanhao.ark@gmail.com" %>

<%= javascript_include_tag 'comments.js' %>