<%= link_to(@article.title, @article.url, target: "_blank") %><br/>
<small>Submitted <%= time_ago_in_words(@article.created_at) %> ago</small>

<h3>Comments</h3>

<ul>
  <%= render(partial: 'comments/comment', collection: @article.comments) %>
</ul>

<div id="mfc-comment-box">
  <h2>Leave a Comment</h2>
  <%= form_for [@article, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a Reply", required: true %>
  <div class="name-email">
  <%= f.text_field :author, placeholder: "Name *", required: true %>
  <%= f.text_field :email, placeholder: "Email *", required: true %>
  </div>
  <%= f.text_field :url, placeholder: "Website" %><br/>
  <%= f.submit "Add Comment" %>
  <% end %>
</div>
