<!DOCTYPE html>
<html>
  <head>
    <title>MF Comments</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' 
rel='stylesheet' type='text/css'>
  </head>

  <body class="mfc">
    <%= yield %>
    
    <% if admin_signed_in? %>
        <div id='admin-logout'>
            You are logged in as <%= current_admin.email %>.
            <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
        </div>
    <% end %>
  </body>
</html>
